* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c8d8e4;
}

span {
  font-weight: 400;
}
/*#mapid {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
} */
#mapid {
  width: 100%;
  height: 100%;
  /* z-index: 999; */
  position: absolute;
  top: 0;
  left: 0;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
/*.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__left {
  flex: 0.8;
}
.app__right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */
.app__stats {
  display: flex;
  justify-content: space-between;
}
form {
  display: flex;
}
#countries {
  font-size: 12px !important;
  padding: 4px;
  width: 130px;
  margin: 0 5px;
  border: 1px solid #00000026;
  border-radius: 4px;
}
i {
  margin-right: 0px;
  font-size: 14px;
}

h6 {
  margin: 0;
}

.btn {
  font-size: 12px !important;
}

.vl {
  border-left: 1.5px solid rgb(206 206 206);
  height: 40px;
  width: 20px;
  margin: 0px 6px;
}
#map-feature {
  position: absolute;
  left: 40px;
  top: 0;
  background-color: white !important;
  border: 1px solid #00000024;
  border-radius: 4px;
  margin: 15px;

  z-index: 1000 !important;
}

.hl {
  border-bottom: 1.5px solid #0000002e;
  /* height: 40px; */
  width: 100%;
  /* margin: 0px 6px; */
}

.col-auto .my-1 {
  margin: 0 !important;
}
/*
#countries {
  color: white;
  background-color: #2b6777;
  width: 50%;
  z-index: 3000;
  position: absolute;
  left: 300px;
  top: 10px;
} */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  h1 {
    display: none;
  }
  .app__header {
    justify-content: center;
  }
  /*.app__right {
    width: 100%;
    align-items: center;
  }
  #map-properties {
    width: 100%;
  } */
}
#flag__container {
  background-color: white;
  width: 150px;
  height: 100px;
}
#flag__container > img {
  height: 100%;
  width: 100%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
#todaysweather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 1.2em;
}
.highlow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restof {
  display: flex;
}
#weather-content {
  background: url("./assets/icon/clearsky.jpg");
  background-size: cover;

  color: white;
  font-weight: 600;
}
h5 {
  color: black;
}
#weatherboxleft {
  flex: 0.5;
  display: flex;
  justify-content: center;
  padding: 2px;
  opacity: 0.6;
  border-right: 5px solid white;
  border-top: 5px solid white;
}
#weatherboxleft:hover {
  opacity: 1;
}
#weatherboxright {
  flex: 0.5;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  padding: 2px;
  border-left: 5px solid white;
  border-top: 5px solid white;
}
#weatherboxright:hover {
  opacity: 1;
}
.modal-header {
  background-color: peachpuff;
}
#max {
  font-weight: 800;
}
/*
.slider.round:before {
  border-radius: 50%;
}
.accordion__panel {
  display: hidden;
  align-content: stretch;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style: none;
}
.accordion__control {
  color: white;
  padding: 10px;
  background-color: #2b6777;
  width: 100%;
  height: 50px;
}*/
.leaflet-marker-icon {
  color: red;
}
#news__container {
  background-color: white;
  width: 150px;
  height: 100px;
}
#news__container > img {
  height: 100%;
  width: 100%;
}
#news__container1 {
  background-color: white;
  width: 150px;
  height: 100px;
}
#news__container1 > img {
  height: 100%;
  width: 100%;
}
#news__container2 {
  background-color: white;
  width: 150px;
  height: 100px;
}
#news__container2 > img {
  height: 100%;
  width: 100%;
}
/* toggle */

.side__menu {
  height: 100%;
  /* display: flex; */
  width: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}
#toggle__info {
  color: #2b6777;
  cursor: pointer;
  font-size: 30px;
}
.closebtn {
  font-size: 36px;
  color: #2b6777;
}

.first-icon-cluster {
  width: 25px;
  position: absolute;
  z-index: -888;
  bottom: -12px;
  right: -10px;
}

.circleGold {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: red;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 5px;
}

.circleSnow {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: blue;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 5px;
}

.circleCapital {
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  background-color: green;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 5px;
}
/*
#map-properties {
  color: white;
  width: 90%;
  background-color: #2b6777 !important;
  border: 1px solid #00000024;
  border-radius: 4px;
  margin: 15px;
  /* border-left: 4px solid #3a0ca3; 
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: center;
} */

#map-properties {
  position: absolute;
  left: 0;
  bottom: 35px;
  z-index: 1001;
  /* width: 295px; */
  background-color: white !important;
  border: 1px solid #00000024;
  border-radius: 4px;
  margin: 15px;
  border-left: 4px solid #3a0ca3;
  padding: 10px;
  opacity: 0.4;
}
#map-properties:hover {
  opacity: 1;
}
.leaflet-popup-content-wrapper {
  color: white;
  background-color: #2b6777;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("assets/icon/Preloader_11.gif") center no-repeat #fff;
}
.labels {
  display: flex;
  justify-content: space-between;
}
#removelayer {
  background: red;
}
.checkboxes {
  height: 25px;
}
label {
  padding: 0 5px;
}
.accordion__panel {
  display: flex;
  justify-content: flex-start;
}
.day {
  text-decoration: underline;
  font-size: 1.2rem;
}
.modal {
  z-index: 1200;
}
.daysweather {
  display: flex;
  flex-direction: column;
}
.forecastday {
  display: flex;
}
#employ {
  text-align: center;
  font-weight: bold;
}
#piechart {
  margin: auto;
}
.leaflet-bar button {
  width: 40px !important;
  height: 40px !important;
  /* border-radius: 20px; */
  line-height: 30px;
}

.js-plotly-plot .plotly div {
  direction: ltr;
  font-family: "Open Sans", verdana, arial, sans-serif;
  margin: auto !important;
  padding: 0px;
}
#weather {
  font-size: 1.15em;
  font-weight: 600;
}
